<div class="header-container">
  <div class="top-section">
    <h2 class="hotel-name">Hotel Vaishavi Heights</h2>
    <ul class="top-nav"> 
      <div [routerLink]="items.link" class="nav-buttons" *ngFor="let items of navItems">
        <li >{{items.item}}</li>
      </div>
    </ul>
  </div>
  <div *ngIf="_router.url != '/gallery' "class="carousel">
    <ngx-carousel [inputs]="carouselConfig">
      <ngx-item *ngFor="let item of carouselImages" NgxCarouselItem>
        <div  id="carousel-img-container">
          <img style="width: 100% !important" [src]="item">
        </div>
      </ngx-item>
      <button NgxCarouselPrev class="leftRs">&lt;</button>
      <button NgxCarouselNext class="rightRs">&gt;</button>
    </ngx-carousel>
  </div>
  <div class="booking-container">
    <app-booking></app-booking>
  </div>
</div>
