.footer{
    width: 100%;
    height: 20%;
    background-color: rgba(165, 47, 66, 0.93);
}

.container{
    height: 15%;
    padding: 10px;
    margin: 10px;
}
.address{
    color: white;
    margin-left: 50px;
    padding: 20px;
}
.map{
    float: right;
    margin-right: 30px;
    padding: 10px;
}
.policy{
    text-align: center;
    color: white;
    background-color: #3B10;
   
}