<div class="footer">
  <div class="container">

    <div class="reach">
          <h4>How To Reach</h4>
          <p>Anugraha Narayan Railway Station : 12.5 KM</p>
          <p> Jay Prakash Narayan Airport (Patna) : 132 KM</p>
          <p> Lal Bahadur Shastri Airport (Varanasi) : 182 KM</p>
    </div>

    <div class="address">
      <h4> Hotel Vaishnavi Heights</h4>
      <p> National Highway 2, Manjurahi</p>
      <p>Aurangabad, Bihar ( 824101 )</p>
     <h4>Contact - 085818 88884</h4>
    </div>
    <div class="map">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="15">
          <agm-marker [latitude]="lat" [longitude]="lng" ></agm-marker>
        </agm-map>
    </div>
   

  </div>
  <div class="policy">
    <h4>Copyright 2018 Vaishnavi Heights | <a href="">All rights reserved.</a></h4>
    
  </div>
</div>
