<div class="about">
  <div class="description">
      <h1>Welcome To Vaishnavi Heights</h1><hr>
      <p> Vaishnavi Heights has iconic building with gracious interiors invoking an inviting, exciting ambiance and offering a holistic
          hospitality experience that is totally relevant to now. We believe our guests deserve the best - and this extends from the vibrancy 
          of our cuisine. We also believe in delivering optimum style of surroundings, uncompromising standards of comfort, extensive global 
          connectivity and efficient business support. We pride ourselves on the caliber of our service. We employ only the best staffs and not 
          only do we ensure that they benefit from extensive training, health and community support, but we also believe in encouraging their full 
          participation in both our present and our future. We aim to offer you comfortable surroundings, great food and excellent service to make 
          your stay truly enjoyable. Please take a look through our web site where you will find most need. 
           We deliver best service with royal and Luxurious touch on an economical value.
          We believe in <b>“Attithi Devo Bhav”</b> for us our guest are our god. Give us a chance to serve you beyond your expectations.</p><hr>
  </div>
  <div class="services">
      <h1>Our Services</h1>
      <div *ngFor = "let service of serviceList; let i = index " class="services-image">
        <img *ngIf="i%2 === 0" src="{{service.image}}">
        <div class="desc">
            <h3>{{service.heading}}</h3>
            <p>{{service.description}}</p>
            <div class="button-row">
                <a mat-raised-button routerLink=".">More Details</a>
            </div>
        </div>
        <img *ngIf="i%2 !==0 " src="{{service.image}}">
      </div>
 </div>
</div>
