.booking-container{
    /* display: -ms-flexbox; */
    font-size: 0.8rem;;
    padding: 2% 10%;
    justify-content: space-around;
}

/* .button-container{
    margin-top: 1%;
    
} */

.avail-button{
    color: black;
    font-size: 0.8 rem;
    font-family: 'Lato-Regular';
}