<div fxFlex="100%" fxFlexAlign="center" fxLayoutWrap fxLayoutGap="25px" fxLayoutGap.sm="10px" fxLayout="row" class="booking-container bg-transparent">
  <form [formGroup]="bookingForm">
  <div>
    <mat-form-field>
        <input matInput [matDatepicker]="checkin" placeholder="Check-in Date" formControlName="checkin" required>
        <mat-datepicker-toggle matSuffix [for]="checkin"></mat-datepicker-toggle>
        <mat-datepicker #checkin></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
        <input matInput [matDatepicker]="checkout" placeholder="Check-out Date" formControlName="checkout" required>
        <mat-datepicker-toggle matSuffix [for]="checkout"></mat-datepicker-toggle>
        <mat-datepicker #checkout></mat-datepicker>
      </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input type="number" matInput placeholder="Adults" formControlName="adults" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input type="number" matInput placeholder="Rooms" formControlName="rooms" required>
    </mat-form-field>
  </div>
  <div>
    <button class="avail-button" (click)="checkAvailability()" mat-raised-button>Check Availability</button>
  </div>
</form>
</div>
